<div class="main" >
    <div class="main-content theme-spline spline-top">
        <!--左侧导航-->
        <div class="categories-wrap scroller">
            <ul class="categories">
                <li ng-repeat="item in categories" ng-click="changeCategoriesIndex(item.id)"><span ng-class="{true:'active'}[activeCategoriesId==item.id]">{{item.name}}</span>
                </li>
            </ul>
        </div>
        <!--右侧内容区域-->
        <div class="productList-wrap scroller">
            <ul class="productList">
                <li class="productList-meta"  ng-repeat="item in products[activeCategoriesId] ">
                    <div class="product-image">
                        <img src="{{item.img}}" alt="">
                    </div>
                    <div class="product-meta-wrap">
                        <div class="product-item-title">{{item.name}}</div>
                        <div class="product-promotion">
                            <span class="pm-embossed">精选</span>
                        </div>
                        <div class="product-specifics">{{item.specifics}}</div>
                        <div class="product-price-wrap">
                            <span class="product-price-current"><span class="price-yuan">¥</span>{{item.price}}</span>
                            <span class="product-price-market theme-grayfont"><span class="price-yuan">¥</span>{{item.market_price}}</span>
                        </div>
                        <div class="product-operates">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
        <!--右侧内容导航-->
        <div class="product-fil tap-action">
            <div class="product-filter" ng-class="{true:'active'}[allCategories||ranking]">
                <ul>
                    <li ng-class="{true:'active'}[allCategories]" ng-click="changeCategorieBol()">全部分类 <span>&nbsp</span></li>
                    <li ng-class="{true:'active'}[ranking]" ng-click="changeRankingBol()">综合排序 <span>&nbsp</span></li>
                </ul>
                <div class="filter-items" ng-show="allCategories||ranking">
                    <ul>
                        <li id="filter_id" ng-repeat="item in filterItems" ng-click="filterProduct(item)">{{item.name}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .ng-scope{
        background:#fff;
        width:100%;
        height:100%;
    }
    .main-content{
        width:100%;
    }
    .categories-wrap{
        position: fixed;
        left: 0;
        top: 4.5rem;
        bottom: 0;
        width: 23.75%;
        font-size: 1.2rem;
        background-color: #f8f8f8;
    }
    .categories>li{
        position: relative;
        box-sizing: border-box;
        line-height: 4rem;
        color: #6d6d6d;
        border-bottom: .1rem solid #e0e0e0;
        text-align: center;
        background: right top no-repeat;
        background-size: auto 70%;
    }
    .categories>li>span{
        display: block;
    }
    .categories>li>span.active{
        border-left: 0.6rem solid #f0d001;
    }
    .product-filter{
        position: fixed;
        top: 4.5rem;
        right:0;
        width:75%;
        height:4rem;
        box-sizing: border-box;
        border-bottom: .1rem solid #e0e0e0;
        background: rgba(255,255,255,.95);
    }
    .product-filter.active{
        height: 100%;
        background-color: rgba(0,0,0,0.4);
    }
    .product-filter.active>ul{
        height:4rem;
        background: #fff;
    }
    .product-filter>ul>li{
        float: left;
        width:50%;
        font-size: 1.2rem;
        color: #777;
        text-align: center;
        line-height: 4rem;
    }
    .product-filter ul>li>span{
        display: inline-block;
        vertical-align: top;
        width: 1.2rem;
        height: 4rem;
        background:url("img/after.png") center center no-repeat;
        background-size: 1rem;

        -webkit-transition: 0.5s ease;
        -o-transition: 0.5s ease;
        transition: 0.5s ease;
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    .product-filter ul>li.active>span{
        -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
    .filter-items{
        width: 100%;
    }
    .filter-items>ul{
        overflow: hidden;
        width:100%;
        padding-bottom: 1rem;
        background-color: rgba(255,255,255,1);
    }
    .filter-items>ul>li#filter_id{
        font-size: 1.2rem;
        color: #777;
        float: left;
        display: inline-block;
        width:auto;
        border:.1rem solid #e0e0e0;
        padding: .4rem .8rem;
        margin-left: .8rem;
        margin-top: .8rem;
        border-radius: .5rem;
        background-color: #fff;
        border-color: #ffd600;
        background-color: #fff9d9;
    }
    .productList-wrap{
        width:75%;
        position: absolute;
        top:4rem;
        right:0;
    }
    .productList-meta{
        width: 100%;
        float: left;
        border-bottom: 1px solid #e0e0e0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding:.5rem;
    }
    .productList-meta>.product-image{
        float: left;
    }
    .productList-meta>.product-meta-wrap{
        float: right;
    }
    .productList-meta .product-image{
        width:8rem;
        height:8rem;
    }
    .product-image img{
        width:100%;
    }
    .product-meta-wrap>div{
        font-size: 1.2rem;
        line-height: 2.4rem;
    }
    .product-item-title{
        color:#232b33;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        margin-right: 1rem;
    }
    .product-meta-wrap{
        position: absolute;
        left: 9rem;
        right: 0;
    }
    .product-meta-wrap .product-promotion{
        display:inline-block;
        font-size: 1rem;
        line-height: 1rem;
        color: red;
        border:.1rem solid red;
        border-radius: .4rem;
        padding:.2rem .2rem .2rem;
    }
    .product-specifics{
        color: #999;
    }
    .product-price-current{
        color: #ff3800;
    }
    .product-price-market{
        color: #999;
        text-decoration: line-through;
    }
</style>